Source: robolliurex
Section: x11
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: llxsrchelper,cdbs, debhelper (>= 10), pkg-config,liblgi-1.0-dev (>= 1.6.0), librsvg2-bin, libcairo2-dev,cmake, python3-poinstaller, libedupals-base-dev
Standards-Version: 4.1.2

 
Package: robolliurex
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nqc
Description: Lego RCX educational software
 Robolliurex is a software which allows to use classic Lego RCX brick in an
 easy way, targeted to young students who wants to enter in robotics
